.container article {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid lightgray;

  border-radius: 10px;
  opacity: 0.88;
}
article header {
  border-bottom: 1px solid lightgray;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #eee;
}

.name-tag {
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-size: 12px;
}

article footer {
  text-align: right;
  border-top: 1px solid lightgray;
  background-color: #fff;
  font-size: 70%;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 0.5em;
  padding-top: 0.1em;
}

article:hover {
  border-radius: 10px;
  opacity: 1;
  border: 1px solid black;
}

.tweet-container header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding-left: 0.5em;
  padding-top: 0.15em;
}

.tweet-container img {
  width: 44px;
  height: 42px;
}

.tweet-container h3 {
  flex-grow: 1;
  padding-left: 0.25em;
  margin: 0;
  margin-bottom: auto;
}

.tweet-container p {
  padding-left: 0.25em;
  padding-bottom: 58px;
  padding-top: 0.25em;
  margin: 0;
}
